@model IEnumerable<BugTrackerProject.Models.ProjectUser>
@{
    ViewBag.Title = "ListAllProjectsByUser";
}

<h2>ListAllProjectsByUser</h2>


<h2>@ViewBag.Message</h2>
@Html.ActionLink("Log in to Your Account", "../Account/Login")


